<section class="home" id="home">

	<div class="content">
		<h3>Comida hecha con amor</h3>
		<p>Carne de res a la parrilla, jugosos tomates, lechuga recien cortada, mayonesa, pepinos y cebollas en rodajas,
			sobre un pan suave con ajonjoli!</p>
		<div class="boton">
			<a  type="button" class="btn btn-dark">order now</a>
		</div>

	</div>

	<div class="image">
		<img src="../../../assets/img/home-img.png" alt="">
	</div>

</section>
<section class="speciality" id="speciality">

	<h1 class="heading">Nuestras <span>Especialidades</span> </h1>

	<div class="wrap">
		<div class="tarjeta-wrap">
			<div class="tarjeta">
				<div class="adelante card1"></div>
				<div class="atras">
					<div class="row">
						<h3>Hamburgesas</h3>
						<p>Lechuga recién cortada, tomates frescos, pepinillos, cebollas en rodajas y un medallón de
							carne vegetal hecha de plantas. Los ingredientes principales son soya, trigo, aceite vegetal
							y hierbas.</p>
						<div class="d-grid gap-2 col-6 mx-auto">
							<button type="button" class="btn btn-outline-primary">Ver más</button>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="tarjeta-wrap">
			<div class="tarjeta">
				<div class="adelante card2"></div>
				<div class="atras">
					<div class="row">
						<h3>Pizzas</h3>
						<p>Disfrutar esta pizza es todo un lujo. Mas cuando esta hecha con masa fresca hecha a mano al
							momento y los ingredientes frescos.</p>
						<div class="d-grid gap-2 col-6 mx-auto">
							<button type="button" class="btn btn-outline-primary">Ver más</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tarjeta-wrap">
			<div class="tarjeta">
				<div class="adelante card3"></div>
				<div class="atras">
					<div class="row">
						<h3>Postres</h3>
						<p>El final es tan bueno como el comienzo. Nuestros deliciosos postres, ahora con cono relleno
							de chocolate para un final sencillamente delicioso.</p>
						<div class="d-grid gap-2 col-6 mx-auto">
							<button type="button" class="btn btn-outline-primary">Ver más</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tarjeta-wrap">
			<div class="tarjeta">
				<div class="adelante card4"></div>
				<div class="atras">
					<div class="row">
						<h3>Bebidas</h3>
						<p>Enfríate con nuestras bebidas deliciosas. Refrescantes y al momento para ti.</p>
						<div class="d-grid gap-2 col-6 mx-auto">
							<button type="button" class="btn btn-outline-primary">Ver más</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<h1>Combos</h1>
<section class="specificitem">
	<div *ngFor="let item of itemsProductos; index as i">
		<div class="specificproduct">
			<img
			src={{item.imagen}}
			alt="">
		  <h4 class="item_head">{{item.nombre}}</h4>
		  <p class="item_para">{{item.descripcion}}
		  </p>
		  <p class="item_price">Precio ${{item.precio}}</p>
		  <div class="middle" >
			 <div class="row">
				<button type="button"  class="btn btn-primary col-md-5" (click)="detalleProducto(item.id)"><mat-icon>visibility</mat-icon> </button>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<button class="btn btn-success col-md-5" (click)="detalleProducto1(item.id)"><mat-icon>add_shopping_cart</mat-icon></button>
			  </div>  
		  </div>
		</div>

	</div>
	<button type="button" #closebutton class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#staticBackdrop" hidden>
		Launch static backdrop modal
	  </button>
	<div *ngFor="let item of itemProducto; index as i">
		<div class="modal fade" #modalMensaje id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
			  <div class="modal-content">
				<div class="modal-header">
				  <h1 class="modal-title fs-5" id="staticBackdropLabel">{{item.nombre}}</h1>
				  <button type="button" class="btn-close" data-bs-dismiss="modal" #closebuttonModal aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-4">
							<br>
							<img src={{item.imagen}} alt="">
						</div>
						<div class="col-md-8">
							<p>Descripción:</p>
				  <p>{{item.descripcion}}</p>
				 <form #gfg = "ngForm">
					Cantidad: <input type="number" name = 'name' value="42" ngModel>
				</form>
				
				  <p>Extras:</p>
				  <div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="inlineCheckbox1" (click)="setOpcion1()" value="option1">
					<label class="form-check-label" for="inlineCheckbox1">
						<span *ngIf="item.id==1">Extra Queso</span>
						<span *ngIf="item.id==2">Lechuga Extra</span>
						<span *ngIf="item.id==3">Extra Carne</span>
					</label>
				  </div>
				  <div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="inlineCheckbox2" (click)="setOpcion2()" value="option2">
					<label class="form-check-label" for="inlineCheckbox2">
						<span *ngIf="item.id==1">Peperoni Extra</span>
						<span *ngIf="item.id!=1">Jitomate Extra</span>
					</label>
				  </div>
				  <div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="inlineCheckbox2" (click)="setOpcion3()"  value="option2">
					<label class="form-check-label" for="inlineCheckbox2">Cebolla Caramelizada</label>
				  </div>
						</div>
					</div>
				  
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				  <button type="button" class="btn btn-primary" (click)="crearCarrito(gfg.value.name)" >Agregar al carrito</button>
				</div>
			  </div>
			</div>
		</div>
	</div>
	<button #closebutton1 type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" hidden>
		Launch static backdrop modal
	  </button>
	  
	  <!-- Modal -->
	  <div *ngFor="let item of itemProducto; index as i" class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">{{item.nombre}}</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" #closebuttonModal1 aria-label="Close"></button>
			  </div>
			  <div class="modal-body">
				  <div class="row">
					  <div class="col-md-4">
						  <br>
						  <img src={{item.imagen}} alt="">
					  </div>
					  <div class="col-md-8">
						  <p>Descripción:</p>
				<p>{{item.descripcion}}</p>
			   <form #gfg = "ngForm">
				  Cantidad: <input type="number" name = 'name' value="42" ngModel>
			  </form>
			  
				</div>
			 </div>
				
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" (click)="crearCarrito2(gfg.value.name)" >Agregar al carrito</button>
			  </div>
			</div>
		  </div>
	  </div>
</section>

